{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card-group">
            <div class="card">
                <h4 class="card-header">Podaci o obračunskom razdoblju</h4>
                <div class="card-body" style='padding: 100px;'>
                    <div id="year" style='float: left; text-align: center; font-size: large;'>
                        <label for="year">Godina razdoblja</label>
                        <br>
                        {{ form.year }}
                    </div>
                    <div id="month" style='float: right; text-align: center; font-size: large;'>
                        <label for="month">Mjesec razdoblja</label>
                        <br>
                        {{ form.month }}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn-block" style='font-size: large;' type='submit' name='data'>Pregled izvršenog obračuna</button>
                </div>
            </div>
            <div class="card">
                <h4 class="card-header">Datum obračuna</h4>
                <div class="card-body" style='padding: 100px; text-align: center; font-size: large;'>
                    <label for="accounting_date">Datum obračuna</label>
                    <br>
                    {{ form.accounting_date }}
                </div>
                <div class="card-footer">
                    <button class="btn-block" style='font-size: large;' type='submit' name='employees'>Početak obračuna</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}