{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="card-group" style="margin: 100px;">
        <div class="card">
            <h2 class="card-header">Administrator</h2>
            <div class="card-body">
                <a href="{% url 'admin:index' %}"><img class="card-img-top" height="300" src="{% static "img/admin.png" %}"
                    alt="admin"></a>
            </div>
        </div>
        <div class="card">
            <h2 class="card-header">Odabir razdoblja</h2>
            <div class="card-body">
                <a href="{% url 'payroll' %}"><img class="card-img-top" height="300" src="{% static "img/time.png" %}"
                    alt="time"></a>
            </div>
        </div>
    </div>

{% endblock %}